/* Style body */
body
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    margin: 30px 0 0 30px; 
}

/* Style section */
.resume-depot 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    
    max-width: 900px;
}

.aide
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style table */

.resume-table {
   
    width: 100%; /* On veut que le tableau occupe toute la largeur de la section */
    table-layout: fixed; /* Pour dimensionner plus facilement le tableau et ses cellules */
}

#ligneTitre
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;

    
    background-color: #d1d9e0;
    padding: 5px;
}

#ltGauche
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;

}

#ltDroite
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    gap: 10px;
}

.ligneTab
{
    padding: 10px;
}

table, th
{
    border: 1px solid #d1d9e0;
    border-collapse: collapse;
}

table
{
    border-radius: 5px;
}

td
{
    border-bottom: 1px solid #d1d9e0;
    padding: 0px;
    margin: 10px;
}

/* Style Readme */
.readme
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    border: 1px solid #d1d9e0;
    border-radius: 5px;

}
.readme-entete
{
    display: flex;
    align-self: start; 

    padding: 10px;
}

.readme-entete:hover
{
    background-color: #d1d9e0;
}

.readme-detail, .credit
{
    text-align: center;
    margin: 25px;
}
/* Style Hx */
h2
{
    font-family: Georgia, serif;
    font-size: 12px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

h3
{
    font-family: Georgia, serif;
    font-size: 12px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #59636e;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* Style liens */
a
{
    font-family: Georgia, serif;
    font-size: 12px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #59636e;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* style hr */
hr
{
    display: block;
    border-style: solid;
    width: 100%;
    color: #d1d9e0;
    margin: 0px;
}

/* Style buton */
#bouton
{
    background-color: #04aa6D;
}








